<script src="https://giscus.app/client.js"
        data-repo="jwiam/jwiam.github.io"
        data-repo-id="R_kgDOLpmqGw"
        data-category="General"
        data-category-id="DIC_kwDOLpmqG84CecPO"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="noborder_light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
<noscript style="display: block;text-align: center;line-height: 4em;">Please enable JavaScript to view the <a href="https://giscus.app/">comments powered by giscus.</a></noscript>